body {
    color: #535353;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    margin: 8px;
}

h1, h2 {
    color: #4b2e83;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 2.5rem;
    margin-top: 3em;
}

nav {
    width: 100%;
    top: 0;
    background-color: #4b2e83;
    padding: .75rem;
    position: fixed;
    left: 0;
}

ul {
    margin: 0;
    padding: 0;
    display:inline-block;
    padding-top: .5rem;
}

li {
    display: inline;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

.searchBox {
    float: right;
    
 }
 
input {
    font-size: 1rem;
    padding: .5rem;
    vertical-align: bottom;
    height:2.5rem;
}

button {
    font-size:1.5rem;
    padding: .3rem;
    height:2.5rem;
}

a:hover {
    color:#b7a57a;
    border-bottom: .6rem solid #b7a57a;
}

.logo {
    padding: 0 1em;
    background-image: url('../img/ischool-symbol-white.png');
    background-position: left;
    background-repeat: no-repeat;
}